
scripts/download/.README.md.swp
scripts/download/.download_cmems_physics.sh.swp
scripts/download/.README.md.swo
scripts/.cdsapirc
*.swp
scripts/download/.cdsapirc
*.nc
scripts/download/data/era5_new
scripts/download/data/era5_old
*.pyc
*.ext
*.bc
.DS_Store
