**/*.swp
**/.cdsapirc
**/*.nc
*.pyc
**/.DS_Store
**/*.orig
fm_model/input/*
fm_model/DFM_OUTPUT_*
fm_model/*.cache
fm_model/tttz_waq.mdu
fm_model/input/RadSurf_daily.tim
!fm_model/input/Continuity.bc
!fm_model/input/*.xyz
!fm_model/input/domain.pol
!fm_model/input/IM1.bc
!fm_model/input/NH4.bc
!fm_model/input/RadSurf_daily.tim

*.irlog
fm_model/tttz_waq_0000.mdu
fm_model/tttz_waq_0001.mdu
fm_model/tttz_waq_0002.mdu
fm_model/tttz_waq_0003.mdu
fm_model/unstruc.dia
notebooks/config.yml
notebooks/test.done

fm_model/input/RadSurf_daily.tim
fm_model/tttz_waq.mdu
.snakemake/
fm_model/tttz_waq_0004.mdu
fm_model/tttz_waq_0005.mdu
fm_model/tttz_waq_0006.mdu
fm_model/tttz_waq_0007.mdu
workflow/.snakemake/
workflow/logs/
